@import url('../../variables.module.css');



.contenedor{
    position: relative;
    margin-top: 152px;
    /* border: 1px solid green; */
}



.titlesComponents{
    width: 76%;
    display: flex;
    margin-right: auto;
    font-size: 35px;
}

.productRelationed{
    width: 76%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    margin: auto;
    margin-block: 200px;
}

.cardProductRelationed{
    width: 40%;
    border: 1px solid  var(--grey4-color);
    background-color: transparent;
    cursor: pointer;
    transition: background-color .7s;

}


.cardProductRelationed > :first-child{
    width: 100%;
    height: 45%;
    overflow: hidden;
}

.cardProductRelationed > :first-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform .7s;
}

.cardProductRelationed > :nth-child(2){
    padding: 30px 30px 10px 30px;
    height: auto;
    display: grid;
    gap: 10px;
    text-align: justify;
    transition: background .7s;
    transition: color .7s;
}

.cardProductRelationed > :nth-child(2) h1{
    font-size: 24px;
    color: var(--orange2-color);
}

.cardProductRelationed > :nth-child(2) span{
    color: var(--grey3-color);
    margin-bottom: 1px;
    padding-bottom: 1px;
    font-size: 15px;
}


.cardProductRelationed:hover img{
    transform: scale(1.07);

}

.cardProductRelationed:hover {
    background-color: var(--orange2-color);

}

.cardProductRelationed:hover span{
    color: white;

}

.cardProductRelationed:hover h1{
    color: white;

}



@media (width < 1240px) {

    .titlesComponents{
        width: 100%;
        display: grid;
        margin: auto;
        margin-bottom: -40px;
        font-size: 22px;
        padding: 0 10px;

    }

    .productRelationed{
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 50px;
        margin: auto;
        margin-top: 300px;
    }
    
    .cardProductRelationed{
        width: 100%;
    }

    .cardProductRelationed > :nth-child(2){
        padding: 20px 20px 20px 20px;
    }
}



@media only screen and (max-width: 1100px) {
    .cardX3{
        display: none;
    }
    
}