@import url('../../variables.module.css');



.contenedor{
    position: relative;
    margin-top: 152px;
    margin-bottom: 100px;
}

.cardX3{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: min(100% - 40px, 1200px);
    margin: auto;
    margin-top: 152px;
}


@media only screen and (max-width: 1080px){

    .contenedor{
        margin-top: 90px;
    }

    .cardX3{
        margin-top: 152px;
        gap: 18px;
    }
}


@media only screen and (max-width: 600px){
    .cardX3{
        margin-top: 192px;
        gap: 20px;

    }
}

@media only screen and (max-width: 380px){
    .cardX3{
        margin-top: 242px;
    }
}