//* PRIMARY PALETTE
$blue1: #10497c; // *BLUE 1
$blue3: #248DC1; // *BLUE 3
$teal: #0098A7; // *TEAL
$grey1: #1d252c; // *GREY 1
$grey4: #a2a9ad; // *GREY 4
$orange1: #f58220; // *ORANGE 1
$orange2: #ce5f28;  // *ORANGE 2

//* SECONDAY PALETTE
$grey2: #323e48; // *GREY 2
$grey3: #7b868c; // *GREY 3
$grey5: #cfd2d3; // *GREY 5

$blue2: #0067b3; // *BLUE 2
$blue4: #31B4E6; // *BLUE 4
$blue5: #89C6E8; // *BLUE 5


@import "./node_modules/bootstrap/scss/bootstrap.scss";
