@import url("../../../variables.module.css");


.contenedor {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    /* border: 1px solid yellow; */
    margin: auto;
}

.contenedor div {
    border: 1px solid blue;
    text-align: center;
    height: clamp(70px, 120px, 140px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 60px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.contenedor :nth-child(2) {
    background-color: var(--blue2-color);
}

.contenedor :nth-child(odd) {
    background-color: var(--blue3-color);
}

@media only screen and (max-width: 700px) {
    .contenedor {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
    }
}