@import url("../../../variables.module.css");


.contenedor {
    width: min(100% - 40px, 1300px);
    display: flex;
    gap: 20px;
    margin: auto;
}

.contenedor div {
    width: 33%;
    height: clamp(70px, 120px, 140px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    font-size: 22px;
    font-weight: 500;
    color: white;
    transition: background 0.8s;
}

h3{
    display: none;
}

.contenedor > :nth-child(2) {
    background-color: var(--blue2-color);
}

.contenedor > :nth-child(odd) {
    background-color: var(--blue3-color);
}

.contenedor div:hover {
    background-color: var(--orange2-color);
}


@media only screen and (max-width: 1000px){

    .contenedor{
        flex-direction: column;

    }

    .contenedor div {
        width: 100%;
        height: clamp(70px, 80px, 140px);
        font-size: 23px;
        padding-inline: 20px;

    }


    h3{
        display: block;
        font-size: 23px;
    }



}