@import url('../../../variables.module.css');

.contenedor{
    margin: auto;
    margin-top: 220px;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.cartFirstText{
    display: flex;
    padding: 0px 0px 00px 50px;
    gap: 60px;
    /* margin-top: 250px; */
    background-color:var(--grey6-color);
    box-shadow: -0.2px -0px 1px 0px rgba(81,84,84,0.42);
    -webkit-box-shadow: -0.2px -0px 1px 0px rgba(81,84,84,0.42);
    -moz-box-shadow: -0.2px -0px 1px 0px rgba(81,84,84,0.42);
}


.cardDesciption{
    width: 60%;
    padding: 50px 30px 30px 20px;
    /* border: 1px solid green; */

}

.cardDesciption > h1{
    color: var(--blue2-color);
    text-align: left;
    margin-bottom: 10px;

}

.cardDesciption > p{
    width: 90%;
    font-size: 1.15rem;
    color: var(--grey2-color);
    text-align: justify

}

.cardConsiderations{
    width: 40%;
    padding: 60px 40px 0 40px;
    background: var(--blue2-color);
    color: white;
}

.cardConsiderations > h1{
    text-align: left;
    font-size: 32px;
    color: white;
}

.preguntas{
    margin-top: 20px;
}

.preguntas > p{
    color: var(--grey2-color);
    font-size: 13px;
    margin-bottom: 1px;
}

.preguntas > button{
    background: var(--orange2-color);
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-weight: 600;
}


.cifrasEstad > h1{
    color: var(--blue2-color);
    text-align: left;
}

.cifrasEstad > span{
    color: var(--grey3-color);
    font-size: 13px;
    font-weight: 600;
    text-align: left;
}


.contEstadistic{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.cardConsiderations ul{
    list-style-type: none;
}

.cardConsiderations ul li::before {
    content: "\29BF"; 
    /* content: "\25C9";  */
    /* content: "\22A1";  */
    color: white;
    font-size: 20PX;
    font-weight: bold; 
    display: inline-block; 
    background: var(--blue2-color);
    width: 1.2em; 
    margin-left: -1em;
  }
  
.cardConsiderations li{
    padding-block: 10px;
    text-align: justify;
}

@media(width < 1250px){
    .contenedor{
        width: 100%;
        margin-top: 0;
    }
    .cartFirstText{
        background-color: transparent;

    }
    .contenedor .cartFirstText{
        display: block;
        padding: 0;
        gap: 0;
    }

    .cardDesciption, .cardConsiderations{
        width: 100%;
        padding-inline: 20px;
    }

    .cardDesciption, .cardConsiderations > h1{
        padding-bottom: 20px;
    }

    .cardDesciption > p{
        width: 100%;
    }
}