@import url('../../../variables.module.css');


.contenedor {
    width: 100%;
    height: 400px;
    display: flex;
    gap: 20px;
}

.group{
    width: 50%;
    display: flex;
    gap: 20px;
}
.cardSmall {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(196, 196, 202);
    transition: background 0.6s;
    cursor: pointer;
    font-size: clamp(1rem, 0.3043rem + 0.98vw, 3rem);
    text-decoration: none;
    color: var(--blue2-color);
}

.group> :first-child{
    color: var(--blue2-color);
    transition: color 0.6s;

}

.group> :first-child:hover{
    color: var(--orange2-color);

}

.group> :nth-child(2) {
    background: var(--blue2-color);
    transition: background 0.6s;

}

.group> :nth-child(2):hover {
    background: var(--orange2-color);
}

.group> :nth-child(2) .textInt {
    color: white;
}

.cardImg {
    width: 100%;
    height: 50%;
    overflow: hidden;
    
}

.cardImg img {
    width: 100%;
    transition: transform 0.6s;
}

.cardSmall:hover img {
    transform: scale(1.05, 1.05);
}


.textInt {
    width: 100%;
    height: 50%;
    font-size: calc(13px + .4vw);
    font-weight: 500;
    padding: 20px;
    margin-left: 5px;
    text-align: left;
    display: flex;
    align-items: end;
}


.cardBig {
    position: relative;
    width: 50%;
    overflow: hidden;

}

.cardBig img{
    width: 100%;
    height: 100%;
    transition: transform 0.6s;

}

.cardBig::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b7e2f1;
    background: linear-gradient(224deg,#b7e2f1 0%, #244a62 80%);
    background: -webkit-linear-gradient(224deg,#b7e2f1 0%, #244a62 80%);
    background: -moz-linear-gradient(224deg,#b7e2f1 0%, #244a62 80%);
    opacity: 30%;
    z-index: 1;



}
.cardBig:hover img {
    transform: scale(1.05, 1.05);
    z-index: 0;
}

.cardBig h5 {
    position: absolute;
    top: 80%;
    left: 0;
    color: white;
    width: 80%;
    padding: 30px;
    line-height: 30px;
    font-size: calc(13px + .4vw);
    z-index: 2;
}



.responsiveHidden{
    display: none;
}

@media only screen and (max-width: 1020px){
    .contenedor{
        flex-direction: column;
        height: auto;
    }

    .group{
        width: 100%;
        flex-direction: column;
    }

    .cardBig{
        display: none;
    }

    .cardSmall{
        flex-direction: row;
        width: 100%;
        height: 100px;
    }
    .cardImg{
        width: 30%;
        height: 100%;
        overflow: hidden;
    }
    .cardImg img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .textInt{
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 17px;
    }

    .responsiveHidden{
        display: flex;
        
    }
}

@media only screen and (max-width: 390px){
    .cardSmall{
        height: 65px;
    }
    .cardSmall> :nth-child(2){
        font-size: 15px;
    }

}