.contenedor {
    width: min(100% - 40px, 1000px);
    position: absolute;
    top: 101%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    height: 240px;
    background-color: var(--grey8-color);
    border: 8px solid white;
    border-radius: 5px;


}

.images{
    width: 28%;
    height: auto;
    overflow: hidden;
}

.images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bodyText{
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 5px 30px 30px;
    color: black;
}

.bodyText h1{
    font-size: 29px;
    padding-block: 10px;
    color: var(--grey1-color);
    text-align: left;
}

.bodyText h6{
    font-size: 15px;
    line-height: 25px;
    padding-block: 10px;
    color: rgb(108, 115, 119);
    text-align: left;
}

.Buttomes{
    width: 29%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;
}

.containerMarcas{
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerMarcas> h1{
    width: 100%;
    text-align: center;
    padding: 20px;
    color: var(--blue1-color);
    font-size: calc(20px + .5vw);
    font-weight: 600;
}

.logosMarcas{
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.logosMarcas> div{
    width: 25%;
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.logosMarcas> div img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.logosMarcas> :first-child img{
    width: 90%;
}
.logosMarcas> :nth-child(3) img{
    width: 65%;
}

@media only screen and (max-width: 760px) {

    .contenedor{
        flex-direction: column;
        gap: 30px;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        width: 100%;
        margin: auto;
        height: auto;
        margin-bottom: 30px;
        background-color: transparent;
    }

    .containerMarcas{
        width: 100%;
    }

    .containerMarcas{
        width: 100%;
    }

    .logosMarcas> div{
        width: 20%;
        gap: 10px;
    
    }

    .images{
        width: 100%;
        height: 300px;
        overflow: hidden;
    }

    .bodyText{
        width: 100%;
        padding: 0px 5px 0px 30px;
        padding-inline: 30px;

    }
    .bodyText h1, .bodyText h6{
        padding-block: 0px;


    }


    .Buttomes{
        width: 100%;
        background-color: none;
    }
}