.contenedor {
    position: absolute;
    top: 101%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(90% - 20px, 900px);
    display: flex;
    height: 270px;
    background-color: var(--grey6-color);

}

.images{
    width: 28%;
    overflow: hidden;
}

.images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}



.bodyText{
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 5px 30px 30px;
    color: black;
}

.bodyText h1{
    font-size: 27px;
    padding-block: 10px;
}

.Buttomes{
    width: 29%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 30px;
}


@media only screen and (max-width: 760px) {
    .contenedor{
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        width: 100%;
        margin: auto;display: block;
        height: auto;
    }

    .images{
        width: 100%;
        height: 300px;
        overflow: hidden;
    }
    
    .images img{
    }

    .bodyText{
        width: 100%;
        padding-inline: 30px;

    }

    .Buttomes{
        width: 100%;
        background-color: none;
    }
}