@import url('../../../variables.module.css');


.contenedor{
    height: 43px;
    width: 50%;
    border-radius: 30px;
    background-color: var(--blue2-color);
    border: 0;
    font-weight: 600;
    font-size: clamp(1rem, 0.3043rem + 0.85vw, 3rem);
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ce5f28;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.8s;
}



.contenedor:hover {
    box-shadow: inset 400px 0 0 0 #ce5f28;
  }
  