@import url('../../../variables.module.css');


.contenedor {
    width: 100%;
    height: 400px;
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 1fr 2fr; */
    gap: 10px;
}

.cardSmall {
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(196, 196, 202);

}

.cardImg {
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.cardImg img {
    width: 300px;
    transition: transform 0.5s ease;
}
.cardImg:hover img {
    transform: scale(1.05, 1.05);
}

.textInt {
    width: 100%;
    height: 50%;
    font-size: 1em;
    color: var(--blue2-color);
    font-weight: 500;
    padding: 20px;
    margin-left: 5px;
    text-align: left;
}


.cardBig {
    width: 100%;
    overflow: hidden;
}

.cardBig img {
    width: 900px;
    transition: transform 0.5s ease;
}

.cardBig:hover img {
    transform: scale(1.05, 1.05);
}


@media only screen and (max-width: 900px) {
    .contenedor {
        grid-template-columns: 1fr; /* Cambiar a una columna en pantallas pequeñas */
        grid-template-rows: auto; /* Permitir que las filas se ajusten automáticamente */
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* Para mejorar la experiencia de desplazamiento en dispositivos móviles */
    
    }
    .cardSmall {
        display: inline-block;
        width: 100%;
        height: 300px; /* Ajusta la altura según tus necesidades */
        scroll-snap-align: start;
        background-color: #ccc; /* Color de fondo de los slides */
        margin-right: 10px; /* Espacio entre slides */
    }.cardSmalL:nth-child(even) {
        background-color: #f0f0f0; /* Cambia el color de fondo de los slides pares */

    }
    
}

/************CARRUSEL *******/

