@import url('../../variables.module.css');

.mainScreen{
    width: 100vw;
    height: 800px;
    position: relative;
    margin-bottom: 230px;
}

.capa {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background: rgb(197, 199, 204);
    opacity: 50%;

}


.title {
    width: min(100% - 40px, 1300px);
    margin: auto;
    margin-bottom: 30px;
    color: var(--grey1-color);
    font-weight: 500;
    text-align: left;
}

.cardFloatResponsive{
    display: none;
}

.firstCards{
    margin-bottom: 90px;
}

.cardX3{
    display: block;
    width: min(100% - 40px, 1300px);
    margin: auto;

}

.marginTop{
    width: min(100% - 40px, 1300px);
    margin: auto;
    margin-top: 120px;
}

/******* ESTE MARGINTOP2 ES PARA LAS TARJETAS QUE TIENEN UN BOX GRIS */
.marginTop2{
    width: min(100% - 40px, 1300px);
    margin: auto;
}

.carrusel{
    display: none;
    width: min(100% - 40px, 1300px);
    margin: auto;

}

.boxSombra{
    width: 100%;
    background-color: var(--grey6-color);
    padding-block: 50px;
    margin-top: 120px;

}




@media only screen and (max-width: 760px) {
    
    .mainScreen{
        margin-bottom: 0px;
        height: 700px;
    }

    .capa {
        height: 700px;
    }

    .cardFloatNormal{
        display: none;
    }
    
    .cardFloatResponsive{
        display: block;
    }

    #exploraPoductos{
        display: none;
    }
    
}

@media only screen and (max-width: 1100px) {
    .cardX3{
        display: none;
    }
    
    .carrusel{
        display: block;
    }
    
    .marginTop{
        margin-top: 0px;
    }

    .firstCards{
        margin-bottom: 50px;
    }

    .boxSombra{

        margin-top: 20px;
    
    }

}
