@import url('../../variables.module.css');

.title {
    margin-top: 90px;
    margin-bottom: 30px;
    color: var(--grey1-color);
    font-weight: 500;
}

.cardX3{
    display: block;
}

.carrusel{
    display: none;
}

@media only screen and (max-width: 1100px) {
    .cardX3{
        display: none;
    }
    
    .carrusel{
        display: block;
    }
    
}