@import url('../../variables.module.css');

.mainScreen{
    width: 100vw;
    position: relative;
    margin-bottom: 230px;
}

.capa {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(87, 88, 87);
    opacity: 50%;

}

.title {
    margin-bottom: 30px;
    color: var(--grey1-color);
    font-weight: 500;
}

.firstCards{
    margin-bottom: 90px;
}

.cardX3{
    display: block;
}

.marginTop{
    margin-top: 120px;
}

.carrusel{
    display: none;
}

.boxSombra{
    background-color: var(--grey6-color);
    padding-block: 100px;
}

@media only screen and (max-width: 760px) {
    .mainScreen{

        margin-bottom: 50px;
    }
    
}

@media only screen and (max-width: 1100px) {
    .cardX3{
        display: none;
    }
    
    .carrusel{
        display: block;
    }
    
    .marginTop{
        margin-top: 30px;
    }
}