.carrousel{
    /* background-color: lightblue; */
    overflow: hidden;
    margin: auto;
    padding-block: 1em;
}

.carrousel .grande {
    width: 300%;
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.carrousel .imagen{
    width: calc(100% / 3);
    background-color: transparent;
    min-height: 10vh;
    padding: 1.15em;
}

.carrousel .puntos {
    width: 90%;
    margin: auto;
    background-color: transparent;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    width: 2em;
    height: .2em;
    margin: 0 .5em 0;
    border-radius: px;
    cursor: pointer;
    background-color: rgb(187, 189, 201);
}

.carrousel .punto.activo {
    background-color: orangered;
}