@import url("../../../variables.module.css");


.carrousel{
    /* background-color: lightblue; */
    overflow: hidden;
    margin: auto;
    padding-block: 1em;
    /* border: 1px solid blue; */
}

.carrousel .grande {
    width: 300%;
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5em;

    /* border: 1px solid red; */



}

.carrousel .cardsIndiv{
    width: calc(100% / 3);
    background-color: transparent;
    min-height: 10vh;
    margin-inline: 40px;

}

.carrousel .puntos {
    width: 90%;
    margin: auto;
    background-color: transparent;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.carrousel .punto {
    width: 2em;
    height: .3em;
    margin: 0 .5em 0;
    border-radius: px;
    cursor: pointer;
    background-color: rgb(187, 189, 201);
}

.carrousel .punto.activo {
    background-color: orangered;
}

.cardCarrusel h5{
    color: var(--blue2-color);
    font-size: calc(16px + .4vw);

}