/* nav {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-right: 50px;
}

.ul_menu{
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: 10px;
    gap: 5rem;

}

.ul_menu li{
    list-style: none;
    cursor: pointer;
}

.ul_menu > li::after{
    content: "\25B2";
    display: inline-block;
    transform: rotate(180deg);
    font-size: 10px;
}


.contact{
    border-radius: 50px;
    background-color: rgb(18, 53, 99);
    align-items: end;
}

.ul_menu ul{
    display: none;
    position: absolute;
    width: 120px;
    height: 180px;
    background-color: aliceblue;
    top: 60px;
    left: 20px;
    padding-top: 20px;
    overflow: auto;
    list-style: none;
    color: black;
}

#aplication:hover ~ .dropDown1{
    display: block;
}

#aplication:hover::after {
    transform: rotate(0deg); 
}

#products:hover .dropDown2{
    display: block;
    left: 150px;
}

#products:hover::after {
    transform: rotate(0deg); 
} */

@import url('../../variables.module.css');

*{
    padding: 0;
    margin: 0;
}

.contenedor {
    padding-top: 10px;
}

.contenedorHome {
    width: 100%;
    position: absolute;
    z-index: 999;
    background: transparent;
    padding-top: 10px;

}

nav {
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* border: 2px solid yellow; */
}

ul{
    list-style: none;
}

nav > ul {
    margin-top: 20px;
    /* border: 2px solid red; */
}

nav img{
    width: 150px;
    height: 76px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%) invert(100%);
    cursor: pointer;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 0px 35px;
    color: #ffff;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.boton{
    background: rgb(8, 58, 118);
    border-radius: 30px;
    cursor: pointer;
    padding-block: 10px;
    box-shadow: inset 0 0 0 0 #b44404;
    -webkit-transition: ease-out 1s;
    -moz-transition: ease-out 1s;
    transition: ease-out 1s;
}

.boton:hover {
    box-shadow: inset 300px 0 0 0 #b44404;
    color: white;
  }

.triangulo::after{
    content: "\25B2";
    display: inline-block;
    transform: rotate(180deg);
    font-size: 11px;
}

.dropdowns li{
    display: block;
    color: black;
    padding-inline: 50px;
    padding-block: 15px;
    cursor: pointer;

}

.dropdowns {
    width: 150%;
    background: white;
    position: absolute;
    z-index: 999;
    padding-block: 20px 40px;
    border: 0.001rem solid  rgb(201, 199, 199);
    display: none;
}
    
ul li:hover .dropdowns {
    display: block;
}


ul li a:hover {
    color: var(--orange2-color);
}

ul li:hover .triangulo::after{
    transform: rotate(0deg);
}

.dropdowns li:hover{
    color: #b44404;
}


/*******SECTION SUPERIOS ****/

div > section {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: auto;
    /* border: 2px solid yellow; */

}

div > section li {
    padding: 0px 25px;
    color: #ffff;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;

}