@import url('../../../variables.module.css');


.contenedor {
    width: 100%;
    height: 400px;
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 1fr 2fr; */
    gap: 20px;
}

.group{
    width: 50%;
    display: flex;
    gap: 20px;
}
.cardSmall {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(196, 196, 202);
    transition: background 0.6s;
    cursor: pointer;
    font-size: clamp(1rem, 0.3043rem + 0.98vw, 3rem)
}

.group> :first-child{
    color: var(--blue2-color);
    transition: color 0.6s;

}

.group> :first-child:hover{
    color: var(--orange2-color);

}

.group> :nth-child(2) {
    background: var(--blue2-color);
    transition: background 0.6s;

}

.group> :nth-child(2):hover {
    background: var(--orange2-color);
}

.group> :nth-child(2) .textInt {
    color: white;
}

.cardImg {
    width: 100%;
    height: 50%;
    overflow: hidden;
    
}

.cardImg img {
    width: 100%;
    transition: transform 0.6s;
}

.cardSmall:hover img {
    transform: scale(1.05, 1.05);
}


.textInt {
    width: 100%;
    height: 50%;
    font-weight: 500;
    padding: 20px;
    margin-left: 5px;
    text-align: left;
}


.cardBig {
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(92, 88, 88, 0.7)), url("https://www.xylem.com/es-pr/solutions/mining--quarrying--aggregates/contentassets/mining-industry.jpg");
    background-size: cover;
    background-position: center;
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.cardBig:hover {
    background-size: 101%; /* Escala la imagen de fondo un 5% más grande al hacer hover */
    transition: background-size 0.6s; /* Aplica la transición solo en hover */
}

.cardBig h5 {
    color: white;
    width: 80%;
    padding: 30px;
    line-height: 30px;
    font-size: clamp(1rem, 0.3043rem + 1.28vw, 3rem)
}

