@import url('../../../variables.module.css');


.contenedor{
    margin-top: 160px;
}

.aplications{
    width: 80%;
    margin: auto;
    margin-top: 200px;
}

@media only screen and (max-width: 1080px){
    .contenedor{
        margin-top: 87px;
    }
    .aplications{
        margin-top: 100px;
    }
}

@media only screen and (max-width: 862px){
    .aplications{
        width: 95%;
        margin-top: 190px;
    }

}


@media only screen and (max-width: 480px){
    .aplications{
        margin-top: -80px;
    }

}
