@import url('../../variables.module.css');


.boxPrincipal{
    position: relative;
}

.boxPrincipalNone{
    display: none;
}

.contenedor{
    position: relative;
    width: 100%;
    background-color: var(--grey1-color);
    margin: auto;
    height: 700px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding-inline: 230px;
    padding-top: 220px;
    margin-top: 230px;
    /* border: 1px solid blue; */
}

.contCards1{
    width: 40%;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    /* border: 1px solid blue; */

}

.contCards2{
    width: 55%;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    /* border: 1px solid blue; */

}

.card{
    width: 45%;
    height: 60%;
    color: white;
    /* border: 1px solid rgb(164, 16, 16); */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.card p{
    margin-top: 1px;
    font-size: 14px;
    text-align: left;
    /* border: 1px solid red; */

}

.contCards2 h6{
    color: var(--blue2-color);

}

.responsiveCard{
    position: absolute;
    top: -200px;
    left: 0;
    width: 80%;
    z-index: 999;
}

.logoCarmeus{
    width: 150px;
    height: 60px;
}

.logoCarmeus img{
    width: 80%;
}

.iconRedes{
    width: 25px;
    height:25px ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logosRedes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.logosRedes > :first-child {
    background-color: #0077b5;
}
.logosRedes > :nth-child(2) {
    background-color: #4267B2;
}

.logosRedes > :nth-child(3) {
    background-color: white;
    color: black;
    font-weight: 700;
}
.logosRedes > :nth-child(4) {
    background-color: white;
    color: #FF0000;
    font-weight: 700;
}

#cardLogo{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media only screen and (max-width:1200px) {

    .responsiveCard{
        position: relative;
        top: 0;
        width: 100%;
        z-index: 999;
    }

    .contenedor{
        padding-top: 70px;
        padding-inline: 100px;
        height: auto;
        margin-top: 0;
    }
    .contCards1, .contCards2 {
        flex-direction: column;
        width: 50%;
    }

    .card{
        width: 90%;
    }
}

@media only screen and (max-width:640px) {
    .contenedor{
        flex-direction: column;
        padding-inline: 50px;
        height: auto;
    }

    .contCards1, .contCards2 {
        width: 100%;
    }

    .card{
        width: 100%;
        border-bottom: 0.5px solid var(--grey3-color);
        padding-block: 30px;
    }
}

@media (1440px >= width >= 1201px){
    .contenedor{
        padding-inline: 100px;
    }
}