@import url('../../variables.module.css');

.contenedor{
  margin-top : 150px;
}

.mainScreen{
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  background: var(--blue2-color);
}

.textMainScreen{
  width: 60%;
  top: 50%;
  margin: auto;
}

.textMainScreen> p, h1{
  width: 60%;
  text-wrap: pretty;
  color: white;
}

.textMainScreen> p{
  color: rgb(155, 199, 240);
  font-weight: 600;
}

.bodyBackground{
  width: 80%;
  margin: auto;
  display: flex;
  gap: 150px;
  margin-bottom: ;
}

.bodyBackground> div{
  width: 50%;
  margin-top: 90px;
  height: auto;
}

.bodyBackground p{
  color: var(--grey2-color);
}

.imgBody{
  overflow: hidden;
}

.imgBody> img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.logosRedes {
  width: 80%;
  margin: auto;
  padding-block: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.iconRedes{
  width: 30px;
  height:30px ;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue2-color);
  color: white;
}

