@import url('../../../variables.module.css');


.contenedor{
    width: 100%;
    height: auto;
    display: flex;
    align-items: end;
    gap: 30px;
    padding: 20px;
    background-color:var(--grey6-color);

    /* border: 1px solid red; */

}

.contenedor > :first-child{
    margin-top: 0px;
    border-right: 15px solid white;


}

.cardText{
    width: 50%;
    padding-inline: 20px;
    align-self: normal;
    /* border: 1px solid red; */
}

.cardText > h1{
    color: var(--blue2-color);
    text-align: left;
    font-size: 22px;
    margin: 0;
    /* border: 1px solid red; */
}

.cardText > h6{
    color: var(--grey2-color);
    text-align: center;
    opacity: 90%;
    /* font-size: 22px; */
    padding-block: 20px;
    margin: 0;
    /* border: 1px solid red; */
}

.cardText > span{
    color: var(--grey2-color);
    text-align: justify;
    line-height: 27px;
    
    /* border: 1px solid red; */
}

.especificacion  strong{
    color: var(--grey2-color);
    text-align: left;
    font-weight: 00;
    margin-bottom: 1px;
}

.especificacion > div{
    padding-top: 10px;
}

.listaBenef{
    margin-top: 30px;
}

.listaBenef strong{
    color: var(--orange2-color);
}


@media(width < 1250px){
    .contenedor{
        display: block;
        align-items: start;
        background-color: transparent;
        padding: 0px;
        padding-inline: 20px;


    }
    .cardText{
        width: 100%;
        padding-inline: 0px;
        padding-block: 10px;
        height: auto;
    }

    .cardText > h1{
        padding-block: 20px;
    }


}