@import url('../../../variables.module.css');

.contenedor {
    width: 40%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 40px;
}

.contenedor > :nth-child(2) {
    color: white;
    padding-block: 15px;
    text-align: center;
}



button {
    text-align: center;
    color: white;
    padding-block: 15px;
}

.contenedor h1{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: white;
    padding-block: 15px;

}


.boton{
    height: 50px;
    width: auto;
    border-radius: 30px;
    background-color: var(--orange2-color);
    border: none;
    letter-spacing: 1.2px;
    font-weight: 700;
    font-size: calc(.6rem + .3vw);
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--blue2-color);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.8s;
    padding-inline: 35px;
}



.boton:hover {
    box-shadow: inset 700px 0 0 0 var(--blue2-color);
  }
  

  @media only screen and (max-width: 320px) {

    .contenedor {
        height: 55%;
        width: 100%;
        padding-inline: 20px;

    }

    .contenedor h1{
        font-size: 24px;
    }

    p{
        font-size: 13px;
    }
    

    

  }

  @media (321px <= width <= 480px) {

    .contenedor {
        height: 55%;
        width: 90%;
        padding-inline: 20px;

    }

    .contenedor h1{
        font-size: 22px;
    }

    p{
        font-size: 14px;
    }
    
    
  }

  @media (481px <= width <= 768px) {

    .contenedor {
        width: 80%;
        padding-inline: 20px;

    }

    .contenedor h1{
        font-size: 30px;
    }

    p{
        font-size: 14px;
    }
    
    
  }

  @media (769px <= width <= 1024px) {

    .contenedor {
        width: 60%;
        padding-inline: 20px;

    }

    .contenedor h1{
        font-size: 35px;
    }

    p{
        font-size: 18px;
    }
    

  }

  @media (1025px <= width) {

    .contenedor {
        height: 60%;
        width: 50%;
        padding-inline: 20px;

    }

    .contenedor h1{
        font-size: 45px;
    }

    p{
        font-size: 18px;
    }

  }



/* 
  @media only screen and (min-width: 761px) and (max-width: 1270px) {
    .boton{
        width: 70%;
    }


  } */