@import url('../../../variables.module.css');


.contenedor {
    width: 100%;
    height: 400px;
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 1fr 2fr; */
    gap: 20px;
    /* border: 1px solid red; */
}

.cardBig {
    background: white;
    background-size: cover;
    background-position: center;
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.firstCard{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    border: 0;
}

.firstCard p{
    color: black;
    text-align: left;
    padding-right: 130px;
}


.cardBig h1{
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    color: var(--blue2-color);
    text-align: left;
}

.group{
    width: 50%;
    display: flex;
    gap: 20px;
}


.firstCard > :first-child{
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
}

.cardSmall {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(196, 196, 202);
    transition: background 1s;
    cursor: pointer;
    font-size: clamp(1rem, 0.3043rem + 0.98vw, 3rem)
}


.group> :nth-child(-n+2) {
    background: var(--blue2-color);
    color: white;
    transition: background 0.6s;

}

.group> :nth-child(2) {
    background: var(--blue3-color);
}

.group> :nth-child(-n+2):hover {
    background: var(--orange2-color);
}

.textInt{
    display: flex;
    align-items: end;
    font-size: calc(13px + .4vw);

}

.cardImg {
    width: 100%;
    height: 50%;
    overflow: hidden;
    
}

.cardImg img {
    width: 100%;
    transition: transform 0.6s;
}

.cardSmall:hover img {
    transform: scale(1.05, 1.05);
}


.textInt {
    width: 100%;
    height: 50%;
    font-weight: 500;
    padding: 20px;
    margin-left: 5px;
    text-align: left;
}




@media only screen and (max-width: 1020px){
    .contenedor{
        display: grid;
        gap: 0;
        height: auto;
    }

    .group{
        display: none;
    }

    .cardBig {
        width: 100%;
        margin: auto;
    }

    .firstCard{
        height: 100%;
        padding-right: 1px;

        /* border: 1px solid rgb(239, 106, 17); */

    }

    .firstCard p{
        padding-right: 0px;
    }
}




