@import url('../../../variables.module.css');


.container{
  margin-top: 80px;
}
.contenedor {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;    /* Centrar verticalmente */
}

.container > h1{
    color: var(--blue2-color);
    text-align: left;
    margin-bottom: 30px;
}
.cards {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:var(--grey6-color);
  cursor: pointer;
}

.cards > :first-child {
  font-size: 30px;
  color: var(--blue2-color);
  font-weight: 20px;
}

.cards > :nth-child(2) {
  font-size: 15px;
  color: var(--grey2-color);
  font-weight: 700;
  margin: 0;
  text-align: center;
}

@media(740px > width){
  .contenedor {
    flex-direction: column;
    gap: 10px;
  }

  .cards {
    width: 100%;
    height: 120px;

  }
  
}

@media(width < 1250px){
  .contenedor{
    padding-inline: 20px;
    margin-top: 30px;
      
  }

  .container > h1{
    margin-bottom: 0px;
    margin-top: 50px;
  }

}